.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}

.logo-footer {
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.footer-information {
    color: #F8F9FF;
    font-size: 14px;
    margin-right: 100px;
}


@media only screen and (max-width: 600px) {
    .container-footer {
        flex-direction: column;
        padding: 20px;
    }

    .logo-footer {
        margin: 0;
    }

    .footer-information {
        margin: 0;
    }
}